h1 a:not(:active):not(:hover) {
  color: inherit;
  background: transparent;
  text-decoration: none;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 10em;
}

summary {
  cursor: pointer;
}

.icon:not([hidden]) {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: .2em;
  border-style: none;
  border-radius: 50%;
  vertical-align: middle;
}

html.icon-content {
  margin: 0;
  padding: 10vh;
  background: blue;
  color: white;
}
html.icon-content > body:not([hidden]) {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

icon-text:not([hidden]) {
  display: block;
  line-height: 1.0;
  font-size: 80vh;
  white-space: nowrap;
}

/*

License:

Copyright 2017 Wakaba <wakaba@suikawiki.org>.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You does not have received a copy of the GNU Affero General Public
License along with this program, see <https://www.gnu.org/licenses/>.

*/
